header {
    background-color: black;
}

#img-logo {
    max-width: 5rem;
    height: auto;
    padding: 10px;
}

.nav-link {
    color: white;
}

#contato {
    background-color: rgb(255, 0, 255, 0.150);
}

p {
    text-align: justify;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input {
    margin: 0.5rem;
}

.info-endereco {
    margin: 8px !important;
    padding: 6px 12px;
    border-radius: 5px;
}

.endereco {
    margin: 0 !important;
}

#btn-form-endereco {
    margin: 1rem auto;
}

